<br>
<h1 class="text-center">Editar Edificios</h1>

<%= render 'form', building: @building %>

<%# link_to 'Mostrar', @building, class:"btn btn-primary" %> 
<br>
<div class="form-row text-center">
<%= link_to 'Volver', buildings_path, class:"btn btn-primary" %>
</div>