<br>
<div class="row justify-content-center">
    
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Claudio Leiva Ramos</h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted"> Técnico en Informática </h6>
        <hr>
        <p class="card-text">App desarrollada con el fin de presentarla como examen final del curso "Emprendimiento Digital",
        impartido por Edutecno. <br>
        Esta app esta desarrollada para manejar departamentos dentro de distintos edificios.</p>
        <hr>
        <a href="https://github.com/ClaudioLeivaR" class="card-link">Visita mi Github</a>
    </div>
    </div>

</div>