<h1>Editar Departamento</h1>

<%= render 'form', apartment: @apartment , buildings: @buildings%>

<%= link_to 'Mostrar', @apartment, class:"btn btn-primary" %> |
<%= link_to 'Volver', apartments_path, class:"btn btn-primary" %>
