<br>
<h1 class="text-center">Editar Departamento</h1>

<%= render 'form', apartment: @apartment , buildings: @buildings%>

<%# link_to 'Mostrar', @apartment, class:"btn btn-primary" %> <br>
<br>
<div class="form-row text-center">
<%= link_to 'Volver', apartments_path, class:"btn btn-primary" %>
</div>