<h1 class="text-center">Crear Departamento</h1>

<%= render 'form', apartment: @apartment, buildings: @buildings %>
<br>
<div class="form-row text-center">
<%= link_to 'Volver', apartments_path, class:"btn btn-primary" %>
</div>