<p id="notice"><%= notice %></p>
<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p>
      <strong>Numero:</strong>
      <%= @apartment.numero %>
    </p>

    <p>
      <strong>Edificio:</strong>
      <%= @apartment.building_id %>
    </p>





    <%# link_to 'Editar', edit_apartment_path(@apartment), class:"btn btn-primary" %> 
    <%= link_to 'Volver', apartments_path, class:"btn btn-primary" %>
  </div>
</div>
</div>


            