<nav class="nav nav-pills nav-fill">
  <a class="nav-link active" aria-current="page" href="/">Edificios</a>
  <a class="nav-link active" href="/apartments">Departamentos</a>
  <a class="nav-link active" href="/creador">Programador</a>
 
</nav>
<br><br>
